<div class="container header">
  <div class="row d-flex">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-4 col-12">Perfect Dent Clinic</div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-4 col-12 date d-flex">{{date| date:'MMM d | h:mm'}}</div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-4 col-12 col-end d-flex">
      <div class="search-and-subscribe d-flex">
        <img src="../../../assets/images/search.svg" alt="">
        <img src="../../../assets/images/subscribe.svg" alt="">
      </div>
      <div class="doctor-list">Allen Doctor</div>
    </div>
  </div>
</div>
